html, body {
    background: lightseagreen;
}

#content {
    position: fixed;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-100px, -100px);
}

#time {
    position: absolute;
}

#clock {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: white solid 10px;
}
