/**
 * @author 이미정
 * @file style.css
 * @description css style 적용파일 분리
 */
body {
    background-image: url("../asset/image/background.jpg");
    position: relative;
}
#content {
    color: white;
    position: absolute;
    width: 100%;
    top: 30%;
    transform: translateY(-30%);
    text-align: center;
}
.box {
    display: inline-block;
    position: relative;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    width: 100px;
    margin: 10px;
    padding: 10px;
    transition-duration: 0.1s;
    transition: transform, border, box-shadow;
}
.box--press {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 2px solid #ffc700;
    box-shadow: 0 0 10px 5px rgba(255, 199, 0, 0.8);
}
.box .box--key {
    font-size: x-large;
    font-weight: bold;
}
.box .box--sound {
    color: #ffc700;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}
